apdev-flights-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getAmericanFlights" doc:id="601ce82b-9ed4-4a5b-a489-45ded21ff563" >
		<http:listener doc:name="GET /american" doc:id="c4959906-35be-4a3a-b6e7-7b83b11f9636" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="b810312e-4937-4468-ac2d-a89d16b78adf" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="f3c87f20-a205-4fa6-bed1-d8ebe6dc4811" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="fa8bf254-0486-4edf-8fd8-d2f0ffff708a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="95e2ed7f-e056-4b2a-b7cf-bfd4f8b06218" />
	</flow>
	<flow name="getUnitedFlights" doc:id="175dde7d-ea44-4f0d-9e8c-fa9b6da332eb" >
		<http:listener doc:name="GET /united" doc:id="92142faf-94ab-4030-a20a-41915e17dd9c" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="5408631f-9920-49e8-843e-318205011c98" name="setCode"/>
		<http:request method="GET" doc:name="Get flights" doc:id="e23cc28a-bd60-4b83-9728-69113e4885f5" config-ref="HTTP_Request_configuration" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="b782d90b-0e0f-4399-b9dc-2ce626d0585f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="695232ef-ffd1-404d-9db1-12da8ef56d23" />
	</flow>
	<flow name="getDeltaFlights" doc:id="6bad9dbe-8f16-44a8-80a0-5f7e8630f555" >
		<http:listener doc:name="GET /delta" doc:id="eb2fad3b-0239-4185-8d67-33251bbf4fef" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="3b7a22fd-1966-4778-abf6-899c384ca0b5" name="setCode"/>
		<ee:transform doc:name="Pass code" doc:id="03cc9f0e-6ca7-4e69-911b-caa958bfc106" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Get flights" doc:id="cc5d6135-10eb-4c2b-aa5d-41ef6a16066f" config-ref="Delta_Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="SOAP to [Flight]" doc:id="a60b1d51-f305-4383-b29a-292323f9b684" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="68022be9-d80d-4b12-bfb0-99bc02cd28d3" />
	</flow>
	<sub-flow name="setCode" doc:id="d8af5187-cd3b-46e5-b6bb-d42d8258538b">
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="ca7f6b97-e81c-4876-8806-5bea17e21f46" variableName="code" />
	</sub-flow>
</mule>
