apdev-flights-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="getFlights" doc:id="b4ad2228-5687-4d8e-a1c4-20c8113cbba8" >
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="airline" doc:id="393865a0-db7f-4426-8d9e-0788dd1ed0ab" variableName="airliine"/>
		<flow-ref doc:name="setCode" doc:id="6c0a2404-17cc-4828-8f94-147610955d82" name="setCode"/>
		<validation:is-true doc:name="Is valid destination" doc:id="f8f13bcb-39c2-4129-a52c-a26e42d9d76a" expression="#[['SFO', 'LAX', 'CLE', 'PDX', 'PDF'] contains vars.code]" message="#['Invalid destination' ++ ' ' ++ (vars.code default ' ')]">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_DESTINATION" />
		</validation:is-true>
		<choice doc:name="Choice" doc:id="c1c6fdca-326b-4a5a-9f9b-431de0d63cff" >
			<when expression='#[vars.airliine == "american"]'>
				<flow-ref doc:name="getAmericanFlights" doc:id="acc4c083-ab82-4310-a656-910c403f2293" name="getAmericanFlights"/>
			</when>
			<when expression='#[vars.airliine == "united"]'>
				<flow-ref doc:name="getUnitedFlights" doc:id="b2eb8104-4034-4298-b46c-869eb9dbbf6d" name="getUnitedFlights"/>
			</when>
			<when expression='#[vars.airliine == "delta"]'>
				<flow-ref doc:name="getDeltaFlights" doc:id="cb688bb0-f16b-4699-a971-4fd91173d331" name="getDeltaFlights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="getAllAirlineFlights" doc:id="cd0cc5c6-5847-436b-bab4-d5efa02b9786" name="getAllAirlineFlights"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="[Flight] to JSON" doc:id="d4150956-ea48-424c-95be-efec51e9b295" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="59f689f7-d42a-4b38-ac15-dc5dc3b052df" />
	</flow>
	<flow name="getAllAirlineFlights" doc:id="d8b30b84-d61a-4740-b009-6aa9ae8f35e9" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="4021a923-2bc5-4fda-a7d7-c766a6aa2c34" >
			<route >
				<try doc:name="Try" doc:id="507c925e-ee9a-4d8e-968d-5bb80ba10c21" >
					<flow-ref doc:name="getAmericanFlights" doc:id="1559f1a0-372c-4aed-a559-3e18522a71e1" name="getAmericanFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="467f3767-1475-4bd3-91ee-123d0a2f9332" type="ANY">
							<ee:transform doc:name="[]" doc:id="1f78bcb4-8117-476e-a3aa-1f48f6804e96" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="09d02b14-d707-42fc-8ecf-c03b9b5a3b47" >
					<flow-ref doc:name="getUnitedFlights" doc:id="e3485196-9b82-4e09-9f47-171a9172c966" name="getUnitedFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8c81f093-931a-430e-85af-675405740094" type="ANY" >
							<ee:transform doc:name="[]" doc:id="b125a359-33b6-4533-9bb0-18ca5e166d13" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="1edd37b6-7557-42f9-b2f4-c5487a987bd5" >
					<flow-ref doc:name="getDeltaFlights" doc:id="a8e81b17-5040-44d4-a3a1-dc8eca2cad09" name="getDeltaFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4b7353b6-c053-4428-bb40-16436b090cdc" type="ANY" >
							<ee:transform doc:name="[]" doc:id="748335d9-4939-4251-93e7-647faefb563a" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Flatten to [Flight]" doc:id="1650ddbe-d44a-4842-b298-3a55eea50abc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bae49e93-2fa2-4347-8641-85ab5cd380a1" />
	</flow>
	<flow name="getAmericanFlights" doc:id="601ce82b-9ed4-4a5b-a489-45ded21ff563" >
		<american-flights-api:get-flights doc:name="Get flights" doc:id="f3c87f20-a205-4fa6-bed1-d8ebe6dc4811" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="fa8bf254-0486-4edf-8fd8-d2f0ffff708a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="95e2ed7f-e056-4b2a-b7cf-bfd4f8b06218" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="68f50528-ff7e-427e-b4ca-837298174ffb" type="AMERICAN-FLIGHTS-API:BAD_REQUEST">
				<ee:transform doc:name="No flights" doc:id="7623a211-5e41-4b17-a34b-82cfd5719e84">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "No flights to " ++ vars.code as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="200" doc:name="httpStatus" doc:id="a251121b-c60c-42e9-867e-25c5e2fb4287" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="getUnitedFlights" doc:id="175dde7d-ea44-4f0d-9e8c-fa9b6da332eb" >
		<http:request method="GET" doc:name="Get flights" doc:id="e23cc28a-bd60-4b83-9728-69113e4885f5" config-ref="HTTP_Request_configuration" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="b782d90b-0e0f-4399-b9dc-2ce626d0585f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="695232ef-ffd1-404d-9db1-12da8ef56d23" />
	</flow>
	<flow name="getDeltaFlights" doc:id="6bad9dbe-8f16-44a8-80a0-5f7e8630f555" >
		<ee:transform doc:name="Pass code" doc:id="03cc9f0e-6ca7-4e69-911b-caa958bfc106" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Get flights" doc:id="cc5d6135-10eb-4c2b-aa5d-41ef6a16066f" config-ref="Delta_Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="SOAP to [Flight]" doc:id="a60b1d51-f305-4383-b29a-292323f9b684" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="68022be9-d80d-4b12-bfb0-99bc02cd28d3" />
	</flow>
	<sub-flow name="setCode" doc:id="d8af5187-cd3b-46e5-b6bb-d42d8258538b">
		<set-variable value="#[message.attributes.queryParams.code]" doc:name="code" doc:id="ca7f6b97-e81c-4876-8806-5bea17e21f46" variableName="code" />
	</sub-flow>
</mule>
